/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
  color: #0f172a;
}

/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(15, 23, 42, 0.95);
  z-index: 100;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 28px;
  list-style: none;
  padding: 15px;
}

nav li {
  color: white;
  cursor: pointer;
  font-weight: 500;
}

nav li:hover {
  color: #38bdf8;
}

/* PANELS (FADE + SCALE) */
.panel {
  position: absolute;
  inset: 0;
  padding: 120px 80px;
  opacity: 0;
  transform: scale(0.97);
  transition: opacity 0.6s ease, transform 0.6s ease;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.panel.active {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

/* HOME */
.home {
  background: linear-gradient(to right, #020617, #0f172a);
  color: white;
  text-align: center;
  align-items: center;
}

.home h1 {
  font-size: 3.5rem;
  margin-bottom: 10px;
}

.home p {
  font-size: 1.2rem;
  opacity: 0.9;
}

/* PROFILE IMAGE */
.profile-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #38bdf8;
  margin-bottom: 20px;
}

/* SOFT PASTEL BACKGROUNDS */
.about { background-color: #fff7ed; }
.skills { background-color: #ecfeff; }
.projects { background-color: #fefce8; }
.experience { background-color: #f0fdf4; }
.contact { background-color: #fdf2f8; }

/* CONTENT */
h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 8px;
}

p {
  font-size: 1.1rem;
  max-width: 900px;
  line-height: 1.7;
}

ul li {
  margin-bottom: 12px;
  font-size: 1.1rem;
}

/* SKILLS */
.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.skills-grid span {
  padding: 12px 22px;
  background-color: #bae6fd;
  border-radius: 999px;
  font-weight: 500;
}

/* LINKS */
a {
  color: #1d4ed8;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

/* MOBILE */
@media (max-width: 768px) {
  .panel {
    padding: 100px 30px;
  }

  .home h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 2rem;
  }
}
/* ROLE TITLE */
.role-title {
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 8px;
  color: #e5e7eb;
}

/* TYPING TEXT */
.typing-text {
  margin-top: 15px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #38bdf8;
}

/* BLINKING CURSOR */
.cursor {
  font-weight: bold;
  margin-left: 2px;
  animation: blinkCursor 1s infinite;
}

@keyframes blinkCursor {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
.panel.skills p {
  margin-bottom: 20px; /* adds space below the paragraph */
}
.panel.projects p {
  margin-bottom: 20px; /* space below the paragraph */
}
.panel.contact p {
    margin-bottom: 20px;
}

